<!DOCTYPE html>
<html lang="en-us" class="no-js">

	<head>
		<meta charset="utf-8">
        <title>404 Error</title>
        <meta name="description" content="404 Page">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link href="../../static/css/404style.css" rel="stylesheet" type="text/css">

	</head>
	
	<body>

		<div id="container">

			<div class="overlay"></div>

			<div class="item-title">

				<div id="message"><p>ERROR 404 NOT FOUND</p><p>You may have mis-typed the URL.</p><p>Or the page has been removed.</p><p>Click on the link below to return to home page</p></div>

				<div class="link-bottom">
					<a class="link-icon" href="../index"><i class="icon ion-ios-home"></i> HOME</a>
				</div>

	  		</div>

		</div>

	</body>

</html>