  <div class="topbar">

                        <div class="topbar-left	d-none d-lg-block">
                            <div class="text-center" style="margin-top: 10px">
                                <a href="../index" class="nav-link" style="color:white">Temporal Graph Management System</a>
                            </div>
                        </div>

                        <nav class="navbar-custom">
                            <ul class="list-inline menu-left mb-0">
                                <li class="list-inline-item">
                                    <button type="button" class="button-menu-mobile open-left waves-effect" onclick="changeH()">
                                        <i class="mdi mdi-menu"></i>
                                    </button>
                                </li>
                            </ul>
                        </nav>
                    </div>



